{% extends "base.html" %}
{% load humanize %}
{% block content %}
    <h1>카트</h1>
    {% if cart.products.exists %}
        <table class="table cart-table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제품 이름</th>
                <th scope="col">제품 가격</th>
            </tr>
            </thead>
            <tbody class="cart-body">
            {% for product in cart.products.all %}
                <tr class="cart-product">
                    <th scope="row">{{ forloop.counter }}</th>
                    <td><a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
                      {% include 'carts/snippets/remove_product.html' with product=product %}
{#                        {% include 'products/snippets/update_cart.html' with product=product in_cart=True %}#}
                    </td>
                    <td>{{ product.price|floatformat|intcomma }} 천원</td>
                </tr>
            {% endfor %}
            <tr>
                <th colspan="2"></th>
                <td><b>소계 </b> <span class="cart-subtotal">{{ cart.subtotal|floatformat|intcomma }} 천원</span></td>
            </tr>
            <tr>
                <th colspan="2"></th>
                <td><b>합계 </b> <span class="cart-total">{{ cart.total|floatformat|intcomma }} 천원</span></td>
            </tr>
            <tr>
                <th colspan="2"></th>
                <td><a class='btn btn-lg btn-success' href = {% url 'cart:checkout' %}>구매하기</a></td>
            </tr>
            </tbody>
        </table>

        <div class="cart-item-remove-form" style="display:none;">
            {% include 'carts/snippets/remove_product.html' %}
        </div>
    {% else %}
        <p class="lead">카트가 비어있습니다.</p>
    {% endif %}

{% endblock %}