{% load static %}
<!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark pt-5">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-md-4 mx-auto">
                    <!-- Content -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4">고객 문의</h5>
                    <p><a href="tel:+8210-3450-4244">010-3450-4244</a></p>
                    <p><a href="tel:+8210-5419-2656">010-5419-2656</a></p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.haenam.go.kr/"><img src="{% static 'img/h_logo.png' %}" style="width : 6.5rem;height : 3rem;"></a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="http://www.esamchon.co.kr/"><img src="{% static 'img/uncle_farmer.jpg' %}" style="width:8rem; height : 3rem;"></a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none">
                <!-- Grid column -->
                <div class="col-md-2 mx-auto">
                    <!-- Links -->
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4"></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!"></a>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->

        {#  <!-- Call to action -->#}
        {#  <ul class="list-unstyled list-inline text-center py-2">#}
        {#    <li class="list-inline-item">#}
        {#      <h5 class="mb-1">Register for free</h5>#}
        {#    </li>#}
        {#    <li class="list-inline-item">#}
        {#      <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>#}
        {#    </li>#}
        {#  </ul>#}

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <a class="btn-floating btn-tw mx-1">
                    <img src="{% static 'img/facebook.png' %}" alt="페이스북">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-gplus mx-1">
                    <img src="{% static 'img/insta.png' %}" alt="인스타그램">
                </a>
            </li>
            <li class="list-inline-item">
                <a class="btn-floating btn-li mx-1">
                    <img src="{% static 'img/blog.png' %}" alt="블로그">
                </a>
            </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="#!">Chadolskii</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->