{% load static %}

{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'accounts:home' as account_url %}
{% url 'cart:home' as cart_url %}
<nav class="navbar navbar-expand-lg" id="navbar">
    <a class="navbar-brand" href="{{ home_url }}"><img src="{% static 'img/MainLogo.png' %}"
                                                       class="d-inline-block align-top" alt="" loading="lazy" style="height: 3.6rem; width: 7.6rem;"></a>
    <a class="navbar-brand" href="{{ home_url }}">땅끝농부</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span><i class="fa fa-bars"></i> </span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto nav-pills">
            <li class="nav-item {% if request.path == contact_url %}active {% endif %}">
{#                <a class="nav-link" href="{{ contact_url }} ">소개</a>#}
            <a class="nav-link" href="# ">소개</a>
            </li>
            <li class="nav-item {% if request.path == product_url %}active{% endif %}">
                <a class="nav-link" href="{{ product_url }}"><i class="fa fa-bars"></i> 스토어 <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ request.user.full_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ account_url }}">정보</a>
                        <a class="dropdown-item" href="#">카드</a>
                        <a class="dropdown-item" href="#">찜목록</a>
                        <a class="dropdown-item" href="#">구매내역</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ logout_url }}">로그아웃</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item {% if request.path == register_url %} active {% endif %}">
                    <a class="nav-link" href="{{ register_url }}">회원가입</a>
                </li>
                <li class="nav-item {% if request.path == login_url %} active {% endif %}">
                    <a class="nav-link" href="{{ login_url }}">로그인</a>
                </li>
            {% endif %}
            <li class="nav-item {% if request.path == cart_url %} active {% endif %}">
                <a class="nav-link" href="{{ cart_url }}">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    {% if request.session.cart_items > 0 %}
                        <span class='navbar-cart-count'
                              style="color:red; font-weight: bold;">{{ request.session.cart_items }}</span>
                    {% else %}
                        <span class='navbar-cart-count' style="color:red; font-weight: bold;"></span>
                    {% endif %}
                </a>
            </li>
        </ul>
        {% include "snippets/search_form.html" %}
    </div>
</nav>