<form class='form-product-ajax mt-3' method="POST" class="form" action="{% url 'cart:update' %}" data-endpoint ="{% url 'cart:update' %}">{% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}"/>
        <span class="submit-span">
        {% if product in cart.products.all %}
            <button type="submit" class="btn btn-primary"> 카트에서 빼기</button>
        {% else %}
            <button type="submit" class="btn btn-success">카트에 담기</button>
        {% endif %}
        </span>
</form>