{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>구매 내역</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <th>오더 번호</th>
                <th>배송 상태</th>
                <th>구매 금액</th>
                </thead>
                <tbody>
                {% for object in object_list %}
                    <tr>
                        <td><a href="{{ object.get_absolute_url }}">{{ object.order_id }}</a></td>

                        {% if object.cart.is_all_digital %}
                            <td> <a href="{% url 'library' %}">다운받으로 가기</a> </td>
                        {% else%}
                            <td>{{ object.get_shipping_status }}</td>
                        {% endif %}
                        <td>{{ object.total }}</td>
                    </tr>
                    {% empty %}
                    <tr><td colspan="3"><p class="lead">구매 내역 없음.</p></td></tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


{% endblock %}