{% extends 'base.html' %}

{% block content %}
    <div class="row my-2">
        <div class="col-12">
            <h1>Accounts</h1>
            <hr/>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Support</h4>
                        <div class="list-group">
                            <a class="list-group-item" href="{% url 'about' %}">About</a>
                            <a class="list-group-item" href="{% url 'contact' %}">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">구매</h4>
                        <div class="list-group">
                            <a class="list-group-item" href="{% url 'orders:list' %}">구매내역</a>
                            <a class="list-group-item" href="{% url 'billing-payment-method' %}">결제 방법 추가</a>
                            <a class="list-group-item" href="#">주소</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">계정 정보</h4>
                         <div class="list-group">
                            <a class="list-group-item" href="{% url 'accounts:user_update' %}">정보 수정</a>
                            <a class="list-group-item" href="{% url 'password_change' %}">비밀번호 수정</a>
                            <a class="list-group-item" href="{% url 'library' %}">구매 파일</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">기타 설정</h4>
                         <div class="list-group">
                            <a class="list-group-item" href="{% url 'marketing-pref' %}">마케팅 수신 동의</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 my-3">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">히스토리</h4>
                          <div class="list-group">
                            <a class="list-group-item" href="{% url 'accounts:user_history' %}">살펴본 물건</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}