
{% load humanize %}

<div class="col-9">
    <div class="row">
        <div class="col-12">
            <h1>세일즈</h1>
        </div>
    </div>
    <div class="row my-5 text-right">
        <div class="col-4">
            <h3>오늘 판매 {{ today.recent_data }}</h3>
            <p>(합계 : {{ today.recent_data.total__sum|intcomma|default:0}} 원)</p>
            
                {% for order in today.recent|slice:":5" %}
                    <p class="my-2">Order #{{ order.order_id }}<br/>
                        {{ order.total|intcomma|default:0}} 원 }},&nbsp;&nbsp;
                        {{ order.updated|timesince }} 전</p>
                {% endfor %}
            <br/>
            <h3>지난 한주간 판매</h3>
            <h3>{{ this_week }}</h3>
            <p>(합계 : {{ this_week.recent_data.total__sum|intcomma|default:0}}원 )</p>
                {% for order in this_week.recent|slice:":5" %}
                   <p class="my-2">Order #{{ order.order_id }}<br/>
                        {{ order.total|intcomma|default:0}} 원 }},&nbsp;&nbsp;
                        {{ order.updated|timesince }} 전</p>
                {% endfor %}
        </div>
        <div class="col-7">
            <canvas class='render-chart' id="thisWeekSales" data-type="week" width="400" height="400"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h1>지난 한달 간</h1>
        </div>
        <div class="col-4 text-right">
            <p>(합계 : {{ last_four_weeks.recent_data.total__sum|floatformat:'2'|intcomma|default:0}} 원 )</p>
                {% for order in last_four_weeks.recent %}
                    <p>{{ order.order_id }}<br>
                        {{ order.total|intcomma|default:0}} 원 }}<br>
                        {{ order.updated }}</p>

                {% endfor %}
        </div>
        <div class="col-7">
            <div class="col">
                <canvas class='render-chart' id="fourWeekSales" data-type="4week" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
</div>