{% load static %}
{% load widget_tweaks %}
<div style="border: 1px solid #cfcfd0; background: #f8f8f9; padding: 10px 14px; border-radius: 3px; display:inline-block; text-align:left;">
<!-- 주소와 우편번호를 입력할 <input>들을 생성하고 적당한 name과 class를 부여한다 -->

    <input type="hidden" name="address_type" value="{{ address_type }}"/>
    <label style="width: 6rem;">우편번호</label>
    {{ form.postal_code|add_class:"postcodify_postcode5"|attr:"style: width:10rem;"}}<button type="button" id="postcodify_search_button">검색</button>
    <br/>
    <label style="width: 6rem;">도로명 주소</label>
    {{ form.address_line_1|add_class:"postcodify_address"|attr:"style: width:20rem;"}}<br>
    <label style="width: 6rem;">상세주소</label>
    {{ form.address_line_2|add_class:"postcodify_details"|attr:"style: width:20rem;"}}<br>
    <label style="width: 6rem;">참고항목</label>
    {{ form.state|add_class:"postcodify_extra_info"|attr:"style: width:20rem;"}}<br>
    <div class="text-center">
        <button type="submit" class="btn btn-outline-danger">저장</button>
    </div>
</div>
<!-- jQuery와 Postcodify를 로딩한다 -->
<script src="{% static 'js/search.min.js' %}"></script>

<!-- "검색" 단추를 누르면 팝업 레이어가 열리도록 설정한다 -->
<script> 
    $(function() { 
        $("#postcodify_search_button").postcodifyPopUp(); 
    });
</script>