body {
    font-family: 'Do Hyeon', sans-serif;
    font-family: 'Jua', sans-serif;
}

nav {
    background-color: #F4EFE9;
}

.navbar-brand {
    color: #055124;
    font-size: 2rem;
}

nav a {
    color: #055124;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
}

nav li {
    padding-right: 2rem;
}

nav li:hover a:hover {
    color: white;
    background-color: #055124;
}

nav li:hover a:hover i {
    color: white;
    background-color: #055124;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky + .content {
    padding-top: 60px;
}

.card-img-link {
    align-self: center;
}

/* 제품 리스트 사진 사이즈 고정 */
.card-img-top {
    width: 15rem;
    height: 15rem;
}


/*아이콘 컬러*/
.fa {
    color: #055124;
}

span .fa-bars {
    font-size: 30px;
}

.help-block {
    color: red;
}

/* footer 바닥 고정 */
footer {
    bottom: 0px;
    background-color: #F4EFE9;
    color: #055124;
    font-size: 1.5rem;
}
footer a{
    color : #055124;
}

footer img {
    height: 4rem;
    width: 4rem;
}