body {
    font-family: 'Jua', sans-serif;
}

nav {
    background-color: #F4EFE9;
}

.navbar-brand {
    color: #055124;
    font-size: 2rem;
}

nav a {
    color: #055124;
    font-size: 1.5rem;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li:hover a:hover{
    color: white;
    background-color: #055124;
}
nav li:hover a:hover i{
    color: white;
    background-color: #055124;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.sticky + .content {
    padding-top: 60px;
}

/*아이콘 컬러*/
.fa {
    color: #055124;
}

span .fa-bars {
    font-size: 30px;
}


/* footer 바닥 고정 */
footer {
    bottom: 0px;
}

footer img{
    height : 2rem;
    width : 2rem;
}