{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col'>
            <h1>{{ object.title }}</h1><br/>
            {{ object.timestamp|timesince }} 전
            {{ object.description|linebreaks }}<br/>
            {% if object.image %}
                <img src="{{ object.image.url }}" class='img-fluid'/><br/>
            {% else %}
                이미지X
            {% endif %}
        </div>
        <div class='col-12 col-md-6'>
            {% include 'products/snippets/update_cart.html' with product=object cart=cart %}
        </div>
        {{ session }}
    </div>

{% endblock %}}